* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

*::selection {
  background-color: #171717;
  color: #ffffff; }

*:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  font-family: 'Poppins', sans-serif; }

#header__index {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(circle at top, #1f1f1f, #050505); }
  #header__index .navbar-index {
    z-index: 200;
    background-color: none;
    height: 90px; }
    #header__index .navbar-index .navbar-brand img {
      width: 300px; }
    #header__index .navbar-index .nav {
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    #header__index .navbar-index .navbar-collapse .nav {
      gap: 60px; }
      #header__index .navbar-index .navbar-collapse .nav .nav-link {
        color: #ffffff;
        transition: color .4s;
        font-size: 19px; }
        #header__index .navbar-index .navbar-collapse .nav .nav-link:hover {
          color: #FF6868; }
    #header__index .navbar-index .navbar-collapse .nav__buttons {
      display: flex; }
      #header__index .navbar-index .navbar-collapse .nav__buttons li {
        display: inline-block;
        padding: 0 20px; }
        #header__index .navbar-index .navbar-collapse .nav__buttons li input {
          color: black;
          border: none;
          border-radius: 20px;
          padding: 10px 25px;
          font-size: 15px;
          transition: background-color .4s, color .4s;
          cursor: pointer; }
          #header__index .navbar-index .navbar-collapse .nav__buttons li input:hover {
            color: #ffffff;
            background-color: #FF6868;
            box-shadow: 0 0 15px -2px #FF6868;
            transition: background-color .4s, color .4s, font-size .4s; }
  #header__index #home-link {
    color: #FF6868; }
  #header__index .container__sure {
    position: relative;
    z-index: 100;
    top: -90px;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at top, #1f1f1f, #050505); }
    #header__index .container__sure article {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 200px; }
      #header__index .container__sure article .article__text h1 {
        font-size: 70px;
        letter-spacing: 5px;
        font-weight: bolder;
        color: #FF6868; }
      #header__index .container__sure article .article__text p {
        padding-top: 30px;
        width: 400px;
        font-size: 25px;
        color: #b1b1b1; }
        #header__index .container__sure article .article__text p span {
          color: #FF6868; }
      #header__index .container__sure article .none {
        display: none; }
      #header__index .container__sure article .nintendo {
        width: 650px; }
  #header__index .arrow {
    width: 60px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: arrow-move;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite; }

@keyframes arrow-move {
  0% {
    bottom: 25px; }
  30% {
    bottom: 45px; }
  100% {
    bottom: 25px; } }

.navbar-products {
  background-color: #1a1a1a;
  height: 90px; }
  .navbar-products .navbar-brand img {
    width: 300px; }
  .navbar-products .navbar-collapse .nav {
    gap: 60px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar-products .navbar-collapse .nav .nav-link {
      color: #ffffff;
      transition: color .4s;
      font-size: 19px; }
      .navbar-products .navbar-collapse .nav .nav-link:hover {
        color: #FF6868; }
    .navbar-products .navbar-collapse .nav #product-link {
      color: #FF6868; }
  .navbar-products .navbar-collapse .nav__buttons {
    display: flex; }
    .navbar-products .navbar-collapse .nav__buttons li {
      display: inline-block;
      padding: 0 20px; }
      .navbar-products .navbar-collapse .nav__buttons li input {
        color: black;
        border: none;
        border-radius: 20px;
        padding: 10px 25px;
        font-size: 15px;
        transition: background-color .4s, color .4s;
        cursor: pointer; }
        .navbar-products .navbar-collapse .nav__buttons li input:hover {
          color: white;
          background-color: #FF6868;
          box-shadow: 0 0 15px -2px #FF6868;
          transition: background-color .4s, color .4s, font-size .4s; }

.navbar-aboutUs {
  background-color: #1a1a1a;
  height: 90px; }
  .navbar-aboutUs .navbar-brand img {
    width: 300px; }
  .navbar-aboutUs .navbar-collapse .nav {
    gap: 60px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar-aboutUs .navbar-collapse .nav .nav-link {
      color: #ffffff;
      transition: color .4s;
      font-size: 19px; }
      .navbar-aboutUs .navbar-collapse .nav .nav-link:hover {
        color: #FF6868; }
    .navbar-aboutUs .navbar-collapse .nav #aboutUs-link {
      color: #FF6868; }
  .navbar-aboutUs .navbar-collapse .nav__buttons {
    display: flex; }
    .navbar-aboutUs .navbar-collapse .nav__buttons li {
      display: inline-block;
      padding: 0 20px; }
      .navbar-aboutUs .navbar-collapse .nav__buttons li input {
        color: black;
        border: none;
        border-radius: 20px;
        padding: 10px 25px;
        font-size: 15px;
        transition: background-color .4s, color .4s;
        cursor: pointer; }
        .navbar-aboutUs .navbar-collapse .nav__buttons li input:hover {
          color: #ffffff;
          background-color: #FF6868;
          box-shadow: 0 0 15px -2px #FF6868;
          transition: background-color .4s, color .4s, font-size .4s; }

.navbar-contact {
  background-color: #1a1a1a;
  height: 90px; }
  .navbar-contact .navbar-brand img {
    width: 300px; }
  .navbar-contact .navbar-collapse .nav {
    gap: 60px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar-contact .navbar-collapse .nav .nav-link {
      color: #ffffff;
      transition: color .4s;
      font-size: 19px; }
      .navbar-contact .navbar-collapse .nav .nav-link:hover {
        color: #FF6868; }
    .navbar-contact .navbar-collapse .nav #contact-link {
      color: #FF6868; }
  .navbar-contact .navbar-collapse .nav__buttons {
    display: flex; }
    .navbar-contact .navbar-collapse .nav__buttons li {
      display: inline-block;
      padding: 0 20px; }
      .navbar-contact .navbar-collapse .nav__buttons li input {
        color: black;
        border: none;
        border-radius: 20px;
        padding: 10px 25px;
        font-size: 15px;
        transition: background-color .4s, color .4s;
        cursor: pointer; }
        .navbar-contact .navbar-collapse .nav__buttons li input:hover {
          color: #ffffff;
          background-color: #FF6868;
          box-shadow: 0 0 15px -2px #FF6868;
          transition: background-color .4s, color .4s, font-size .4s; }

.index-main .container__tracking {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  background-color: #ffffff; }
  .index-main .container__tracking .tracking__description {
    width: 450px; }
    .index-main .container__tracking .tracking__description h3 {
      font-size: 50px;
      padding: 0 0 20px 0;
      text-shadow: 0 0 20px 10px #FF5353;
      color: #FF6868; }
    .index-main .container__tracking .tracking__description p {
      font-size: 25px;
      color: #5a5a5a; }
      .index-main .container__tracking .tracking__description p span {
        color: #FF6868; }
    .index-main .container__tracking .tracking__description .block__tracking {
      margin-top: 50px; }
      .index-main .container__tracking .tracking__description .block__tracking #tracking__text-area {
        border: none;
        border: solid 1px #1a1a1a;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 20px;
        text-transform: uppercase;
        transition: .4s; }
        .index-main .container__tracking .tracking__description .block__tracking #tracking__text-area:hover {
          background-color: #ffffff; }
        .index-main .container__tracking .tracking__description .block__tracking #tracking__text-area:focus {
          outline: solid 1px #ffffff;
          color: #1a1a1a;
          transition: .4s; }
        .index-main .container__tracking .tracking__description .block__tracking #tracking__text-area::placeholder {
          text-transform: capitalize; }
      .index-main .container__tracking .tracking__description .block__tracking #tracking__button {
        margin-left: 30px;
        border: none;
        border-radius: 30px;
        background-color: #1a1a1a;
        padding: 15px 30px;
        font-size: 20px;
        color: #ffffff;
        transition: background-color .4s;
        cursor: pointer; }
        .index-main .container__tracking .tracking__description .block__tracking #tracking__button:hover {
          background-color: #FF6868;
          box-shadow: 0 0 40px -2px #FF6868;
          transition: background-color .4s, color .4s, font-size .4s; }
  .index-main .container__tracking .apple-watch {
    width: 340px; }

.index-main .hr__tracking-products {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1100px;
  border: none;
  height: 2px;
  background-color: #999999; }

.index-main .container__offer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 65px; }
  .index-main .container__offer .product__offer {
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 50px; }
    .index-main .container__offer .product__offer .offer__image {
      width: 1000px;
      height: 600px;
      background-color: #1a1a1a;
      background-image: url(../img/background.png);
      background-size: 600px;
      border-radius: 20px;
      border: solid #b3b3b3 1px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .index-main .container__offer .product__offer .offer__image a .airPodsMax {
        width: 400px; }
    .index-main .container__offer .product__offer .block__offer-main .block__offer .container__offer__text {
      display: block; }
      .index-main .container__offer .product__offer .block__offer-main .block__offer .container__offer__text .container__text {
        width: 500px; }
        .index-main .container__offer .product__offer .block__offer-main .block__offer .container__offer__text .container__text .title__text {
          font-weight: 900;
          font-size: 60px;
          color: #1a1a1a; }
    .index-main .container__offer .product__offer .block__offer-main .block__offer .offer__prices {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      padding-top: 10px 0; }
      .index-main .container__offer .product__offer .block__offer-main .block__offer .offer__prices p {
        font-size: 18px;
        letter-spacing: 3px; }
      .index-main .container__offer .product__offer .block__offer-main .block__offer .offer__prices .price__strikethrough {
        text-decoration: line-through;
        color: #6b6b6b; }
      .index-main .container__offer .product__offer .block__offer-main .block__offer .offer__prices .sale {
        background-color: #ffffff;
        padding: 10px 0;
        color: black;
        border-radius: 30px;
        font-size: 16px;
        width: 100px;
        text-align: center;
        outline: 1px solid black;
        animation-name: sale-color;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite; }

@keyframes sale-color {
  0% {
    color: black;
    outline: 1px solid black; }
  40% {
    color: #ffffff;
    background-color: #FF6868;
    box-shadow: 0 0 40px 0px #FF6868;
    outline: 1px solid rgba(255, 255, 255, 0); }
  60% {
    color: #ffffff;
    background-color: #FF6868;
    box-shadow: 0 0 40px 0px #FF6868;
    outline: 1px solid rgba(255, 255, 255, 0); }
  100% {
    color: black;
    outline: 1px solid black; } }
    .index-main .container__offer .product__offer .block__offer-main .offer__inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%; }
      .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__color {
        padding-top: 20px; }
        .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__color .color__text {
          display: block;
          color: #1a1a1a; }
        .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__color #menu__color {
          margin-top: 5px;
          height: 45px;
          width: 150px;
          text-align: center; }
          .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__color #menu__color:focus {
            outline: none; }
      .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__amount {
        padding-top: 20px; }
        .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__amount .amount__text {
          display: block; }
        .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__amount #amount {
          margin-top: 5px;
          height: 45px;
          width: 150px;
          text-align: center; }
          .index-main .container__offer .product__offer .block__offer-main .offer__inputs .block__color-amount .block__amount #amount:focus {
            outline: none; }
      .index-main .container__offer .product__offer .block__offer-main .offer__inputs .buttons-box .buttons #button-cart {
        width: 500px;
        background-color: #ffffff;
        border-radius: 30px;
        font-size: 17px;
        cursor: pointer;
        padding: 10px 0;
        margin-top: 50px;
        transition: color .4s; }
        .index-main .container__offer .product__offer .block__offer-main .offer__inputs .buttons-box .buttons #button-cart:hover {
          color: #FF6868;
          background-color: #d6d6d6;
          transition: color .4s, border-color .4s, box-shadow .4s, background-color .4s; }
      .index-main .container__offer .product__offer .block__offer-main .offer__inputs .buttons-box .buttons #button-buy {
        width: 500px;
        margin-top: 20px;
        font-size: 17px;
        cursor: pointer;
        padding: 10px 0;
        color: #ffffff;
        border: none;
        border-radius: 30px;
        background-color: #FF6868;
        transition: all .4s; }
        .index-main .container__offer .product__offer .block__offer-main .offer__inputs .buttons-box .buttons #button-buy:hover {
          color: white;
          background-color: #FF6868;
          border-color: #ffffff00;
          box-shadow: 0 0 40px 0px #FF6868;
          transition: all .4s; }

.main__products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px; }
  .main__products .container__image {
    width: 1500px;
    height: 650px;
    background-image: url(../img/background.png);
    background-size: 600px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 80px;
    margin-top: 30px;
    color: #ffffff;
    overflow: hidden;
    flex-wrap: nowrap;
    box-shadow: 0 0 60px 1px #707070; }
    .main__products .container__image .block__text__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px; }
      .main__products .container__image .block__text__image h3 {
        font-weight: 900;
        font-size: 120px;
        color: #FF5353;
        text-decoration: none; }
      .main__products .container__image .block__text__image #button__image {
        color: #3b3b3b;
        background-color: #cccccc;
        padding: 20px 100px;
        font-size: 30px;
        border-radius: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: color .4s, background .4s, padding .4s; }
        .main__products .container__image .block__text__image #button__image:hover {
          background-color: #ff4040;
          color: white;
          padding: 20px 110px; }
    .main__products .container__image .JBL-Speaker {
      width: 700px;
      z-index: 1;
      transition: transform .4s; }
      .main__products .container__image .JBL-Speaker:hover {
        transform: scale(1.1); }
  .main__products .container__products {
    width: 1200px;
    background-color: #d6d6d6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .main__products .container__products a {
      text-decoration: none; }
    .main__products .container__products .product-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #ffffff;
      width: 400px;
      height: 380px; }
      .main__products .container__products .product-box img {
        width: 250px;
        transition: transform .4s; }
        .main__products .container__products .product-box img:hover {
          transform: scale(1.1); }
      .main__products .container__products .product-box h4 {
        padding: 10px 0;
        font-size: 25px;
        color: #1a1a1a; }
      .main__products .container__products .product-box .product__text__block p {
        padding: 0 10px;
        display: inline-block;
        font-size: 20px;
        color: #1a1a1a; }
      .main__products .container__products .product-box .product__text__block .off-price {
        text-decoration: line-through;
        color: #777777; }
  .main__products .container__pages .block__buttons__pages {
    margin-bottom: 40px;
    border-radius: 20px;
    cursor: pointer; }
    .main__products .container__pages .block__buttons__pages input {
      background-color: none;
      color: #1a1a1a;
      border: none;
      outline: none;
      margin: 0 20px;
      font-weight: 600;
      transition: transform .4s;
      cursor: pointer; }
      .main__products .container__pages .block__buttons__pages input:hover {
        transform: scale(1.1); }
    .main__products .container__pages .block__buttons__pages #products__button-0 {
      color: #7e7e7e; }
      .main__products .container__pages .block__buttons__pages #products__button-0:hover {
        cursor: default; }
    .main__products .container__pages .block__buttons__pages #products__button-1 {
      color: #ff4040; }

.container__aboutUs {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container__aboutUs .block__aboutUs {
    width: 1400px;
    display: flex;
    flex-direction: row;
    gap: 80px; }
    .container__aboutUs .block__aboutUs .aboutUs__text-box {
      width: 700px; }
      .container__aboutUs .block__aboutUs .aboutUs__text-box h3 {
        font-size: 70px;
        text-align: center;
        font-weight: 100;
        color: #ff5353;
        letter-spacing: 10px;
        word-spacing: 20px;
        transition: transform .4s; }
        .container__aboutUs .block__aboutUs .aboutUs__text-box h3:hover {
          transform: scale(1.1); }
      .container__aboutUs .block__aboutUs .aboutUs__text-box hr {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border: none;
        width: 300px;
        height: 1px;
        background-color: #9b9b9b;
        margin-top: 10px;
        margin-bottom: 30px; }
      .container__aboutUs .block__aboutUs .aboutUs__text-box p {
        font-size: 20px;
        color: #1a1a1a; }
        .container__aboutUs .block__aboutUs .aboutUs__text-box p span {
          color: #FF5353; }
    .container__aboutUs .block__aboutUs iframe {
      width: 700px;
      height: 700px;
      border-radius: 20px;
      box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.438);
      cursor: grab;
      border: none; }

.container__contact {
  width: 100%;
  height: 950px; }
  .container__contact .block__contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .container__contact .block__contact .contact__title {
      color: #FF5353;
      font-size: 40px;
      transition: transform .4s; }
      .container__contact .block__contact .contact__title:hover {
        transform: scale(1.1); }
    .container__contact .block__contact #name__contact__box {
      width: 600px;
      height: 40px;
      outline: none;
      border: none;
      border-bottom: solid #000000 1px;
      transition: padding-left .3s; }
      .container__contact .block__contact #name__contact__box:focus {
        padding-left: 10px; }
    .container__contact .block__contact #email__contact__box {
      width: 600px;
      height: 40px;
      outline: none;
      border: none;
      border-bottom: solid #000000 1px;
      transition: padding-left .4s; }
      .container__contact .block__contact #email__contact__box:focus {
        padding-left: 10px; }
    .container__contact .block__contact .textarea__contact__box {
      width: 600px;
      height: 150px;
      resize: none;
      outline: none;
      border: none;
      border-bottom: solid #000000 1px;
      transition: padding-left .4s; }
      .container__contact .block__contact .textarea__contact__box:focus {
        padding-left: 10px; }
    .container__contact .block__contact #send__contact__button {
      cursor: pointer;
      font-size: 20px;
      width: 100px;
      height: 60px;
      color: #ffffff;
      background-color: #FF5353;
      border: none;
      border-radius: 60px;
      transition: color .4s, background-color .4s, box-shadow .4s, border .4s, transform .4s; }
      .container__contact .block__contact #send__contact__button:hover {
        color: #ffffff;
        background-color: #FF5353;
        box-shadow: 0 0 25px 2px #FF5353;
        border: none;
        transform: scale(1.1); }

#footer {
  position: relative;
  width: 100%;
  height: 130px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  bottom: 0; }
  #footer .footer__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px; }
    #footer .footer__container .container__menu-footer h3 {
      color: #d8d8d8;
      font-weight: 300;
      display: inline-block;
      cursor: default; }
    #footer .footer__container .container__menu-footer a {
      color: #b4b4b4;
      text-decoration: none; }
      #footer .footer__container .container__menu-footer a:hover {
        color: #dbdbdb; }
    #footer .footer__container .container__menu-footer .menu__item {
      padding-left: 20px; }
    #footer .footer__container .social-media {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }
      #footer .footer__container .social-media a img {
        width: 25px;
        margin: 0 5px; }
    #footer .footer__container .block__policies a {
      padding: 20px;
      color: #b4b4b4;
      text-decoration: none; }
      #footer .footer__container .block__policies a:hover {
        color: #dbdbdb; }
  #footer .copyright {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #777777;
    font-size: 13px; }

@media screen and (max-width: 767px) {
  #footer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px; }
    #footer .footer__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      align-items: center;
      margin: 0 20px; }
      #footer .footer__container .social-media {
        position: absolute;
        left: 50%;
        top: 30px;
        transform: translate(-50%, 0); } }
